.checkout{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: rgb(236, 124, 48);
    height: 250px;
    padding: 25px 35px;
    border-radius: 5px;
}
.success{
    background-color:green;
    text-align: center;
    height: 40px;
}