/* .login{
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 30px;
} */
/* .login{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
} */
.login-image img{
    width: 80%;
    height: 40%;
}